:root {
    --White: hsl(0, 0%, 100%);
    --LightGray: hsl(212, 45%, 89%);
    --GrayishBlue: hsl(220, 15%, 55%);
    --DarkBlue: hsl(218, 44%, 22%);
    --LightGray2:rgb(192, 199, 206);
    
}
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Nunito&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{

    font-family: 'Outfit', sans-serif;
}

.main_wrapper{
    background-color: var(--LightGray);
    height:100vh;
    padding: 50px;
}

.qr_code_wrapper{
    background-color: var(--White);
    padding: 15px;
    border-radius: 25px;
    min-width: 325px;
    min-height: 500px;
    box-shadow: var(--LightGray2) 0px 0px 100px 20px;
    
    
}

.qr_code_section{
    flex-direction: column;
    gap: 10px;
    

    
}
.qr_code_section div{
    text-align: center;
}

.qr_code_section div img{
    border-radius: 25px;
}

.qr_code_section div h4{
    color: var(--DarkBlue);
    font-weight: 700;
}

.qr_code_section div p{
    color:var(--GrayishBlue);
    font-size: 15px;
    font-weight: 400;
}

.qr_info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    height: 200px;
}